<div style="margin-left: 30%;margin-top: 10%;">
   
   
    <table style="margin-top: 40px;">
       
        <tr>
            <td>       
                <br>         
                <label>User Name</label>
            </td>
            <td>  
                <mat-form-field style="margin-left:10px;width:250px;">          
                <input matInput type="text">
                </mat-form-field>   
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <label>Password</label>
            </td>
            <td>  
                <mat-form-field style="margin-left:10px;width:250px;">             
                <input matInput type="password">
                </mat-form-field>
                  
            </td>
        </tr>
                
    </table>
    <div style="margin-left: 30%;margin-top:20px;">
        <button mat-raised-button routerLink='../UserDetails' style="margin-left:10px;background-color:cadetblue;">Login</button>        
    </div>
</div>