<div class="maindiv">
    <form #addTaskForm ="ngForm" (ngSubmit)="onAddTask(addTaskForm)">
    <div style="margin-left: 40%;">
        <button mat-raised-button routerLink='../TaskDetails' style="margin-left:10px;background-color:cadetblue;">Cancel</button> 
        <button mat-raised-button type="submit" [disabled]="!addTaskForm.valid" style="margin-left:10px;background-color:cadetblue;">Save</button>
    </div>
   
    <table style="margin-top: 40px;">
        <tr>
            <td>
                <br>
                <label>Project</label>
            </td>
            <td>                
                <mat-form-field style="margin-left:10px;width:300px;">
                    <select matNativeControl requuired name="projectID" ngModel>
                        <option value="0">--Select--</option>
                        <option *ngFor ="let project of projectService.listProject" value={{project.id}}>{{project.name}}</option>
                    </select>
                  </mat-form-field>                
            </td>
        </tr>
       <tr>
            <td>
                <br>
                <label>Assign to User</label>
            </td>
            
            <td>
                <mat-form-field style="margin-left:10px;width:300px;" >
                    <select matNativeControl requuired name="assignedToUserID" ngModel>
                        <option value="0">--Select--</option>
                        <option *ngFor="let user of userService.listuser" value={{user.id}}>{{user.firstName + " "+ user.lastName }}</option>
                    </select>
                  </mat-form-field>   
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <label>Details</label>
            </td>
            <td colspan="4">
                <mat-form-field style="margin-left:10px;width:300px;" >             
                    <textarea matInput required ngModel name="detail" type="text"></textarea>
                    </mat-form-field>
            </td>
        </tr>       
        
    </table>
</form>
</div>