<div class="container">
    <div style="margin-top:50px;margin-bottom: 50px;">
    <button mat-raised-button routerLink='../Project' style="background-color:cadetblue;">Add New Project</button>
</div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                
                <th>Id</th>
                <th>Project Name</th>
                <th>Details</th>
                <th>CreatedOn</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projects of projectservice.listProject" (click)="onProjectSelected(projects)">
                
                <td>{{ projects.id }}</td>
                <td>{{ projects.name }}</td>
                <td>{{ projects.detail }}</td>
                <td>{{projects.createdOn | date :'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>