<div class="container">
    <div style="margin-top:50px;margin-bottom: 50px;">
        <button mat-raised-button routerLink='../Task' style="background-color:cadetblue;">Add New Task</button>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                
                <th>Id</th>
                <th>ProjectId</th>
                <th>UserId</th>
                <th>Details</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tasks of tasks; trackBy: tasks.id;">
                
                <td>{{ tasks.id }}</td>
                <td>{{ tasks.projectid }}</td>
                <td>{{ tasks.userid }}</td>
                <td>{{ tasks.details }}</td>
                <td>{{ tasks.status }}</td>
            </tr>
        </tbody>
    </table>
</div>