<div class="maindiv">
    <form #updateUserForm="ngForm" (ngSubmit)="onUserUpdate()">
    <div style="margin-left: 40%;">
        <button mat-raised-button routerLink='../UserDetails' style="margin-left:10px;background-color:cadetblue;">Cancel</button> 
        <button mat-raised-button (click)="onUserDelete(userservice.updateUserCollection.id)" style="margin-left:10px;background-color:cadetblue;">Delete</button>
        <button mat-raised-button type="submit" [disabled]="!updateUserForm.valid" style="margin-left:10px;background-color:cadetblue;">Save</button>
    </div>
   
    <table style="margin-top: 40px;">
       
        <tr>
            <td>       
                <br>         
                <label>First Name</label>
            </td>
            <td>  
                <mat-form-field style="margin-left:10px;width:300px;">          
                <input matInput type="text" [(ngModel)]= 'userservice.updateUserCollection.firstName' required name="firstName">
                </mat-form-field>   
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <label>Last Name</label>
            </td>
            <td>  
                <mat-form-field style="margin-left:10px;width:300px;">             
                <input matInput tyep="text" [(ngModel)]= 'userservice.updateUserCollection.lastName' required name="lastName">
                </mat-form-field>
                  
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <label>Email</label>
            </td>
            <td >        
                <mat-form-field style="margin-left:10px;width:300px;">             
                 <input matInput tyep="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]= 'userservice.updateUserCollection.email' required name="email">
                </mat-form-field>
                 
            </td>
        </tr>
        
    </table>
</form>
</div>