/* You can add global styles to this file, and also import other style files */


.example-container {    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:cornflowerblue;
  }
  .mat-drawer {
    background-color:darkcyan;
    color: black;
}
.mat-sidenav a:hover{
color:seashell;
}

.mat-toolbar
{
    background-color:black;
    height: 80px;
    color:white;
}
.mat-toolbar div{
    float:right;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .maindiv
  {
    margin-left: 30%;margin-top: 5%;
  }
  


